openapi: 3.1.0
info:
  title: Spryng Messaging v2 API
  version: 20260619-1
  license:
    name: MIT
    identifier: MIT
  description: |-
    Reconstructed from the Spryng developer portal at https://developer.spryng.nl.

    Generated by tools/build-openapi.php from the mirror in docs/api. Spryng does
    not publish an OpenAPI document, so schemas are inferred from the parameter
    tables and example payloads in the documentation. Treat it as a close reading
    of the docs, not as a contract from the vendor.
servers:
  - url: https://api.spryng.nl/v2
security:
  - apiKey: []
tags:
  - name: balance
    description: Endpoints documented under "Balance" in the portal.
  - name: contacts
    description: Endpoints documented under "Contacts" in the portal.
  - name: groups
    description: Endpoints documented under "Groups" in the portal.
  - name: messaging
    description: Endpoints documented under "Messaging" in the portal.
  - name: opt-outs
    description: Endpoints documented under "Opt outs" in the portal.
  - name: schedule
    description: Endpoints documented under "Schedule" in the portal.
  - name: templates
    description: Endpoints documented under "Templates" in the portal.
  - name: throttling
    description: Endpoints documented under "Throttling" in the portal.
  - name: webhooks
    description: Endpoints documented under "Webhooks" in the portal.
paths:
  /balance:
    get:
      operationId: balance
      summary: "Balance: Get"
      tags:
        - balance
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/balance/v2-balance
      description: |-
        This endpoint returns the balance of an parent account or sub account, only accounts linked with the credentials used can perform the request. Note this ony applies if you are a prepay customer, if you would like more information please speak with your account manager.

        Before you start your implementation, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: AccountReference
          in: header
          required: true
          description: Your Spryng account reference - e.g. SPNL0000000
          schema:
            type: string
      responses:
        "201":
          description: Created The request succeeded, and a new resource was created as a result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: string
                  reserved:
                    type: string
              example:
                available: "2951.73346"
                reserved: "0"
        "400":
          description: Bad Request The server could not understand the request due to incorrect syntax or an incorrect/missing required property. You should not repeat the request without modifications.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: string
                    errorMessage: string
                    metadata:
                      additionalProp1: string
                      additionalProp2: string
                      additionalProp3: string
        "401":
          description: Unauthorized Indicates that the request has failed due to missing or incorrect authentication information. You can repeat the request with a suitable authorization header.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: unauthenticatedError
                    errorMessage: Request for authenticated route '/v2/balance' was unauthenticated
  /balance-alerts:
    post:
      operationId: balanceAlerts
      summary: "Balance: Balance alert"
      tags:
        - balance
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/balance/v2-balance-alerts
      description: |-
        This endpoint can be used to set an alert once a prepaid balance threshold has been reached, multiple email addresses can be used in the array of the body.

        Before you start your implementation, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: AccountReference
          in: header
          required: true
          description: Your Spryng account reference - e.g. SPNL0000000
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                threshold:
                  type: string
                enabled:
                  type: boolean
                contactChannel:
                  type: string
                contactAddress:
                  type: string
                alertType:
                  type: string
              required:
                - threshold
                - enabled
                - contactChannel
                - contactAddress
            example:
              alertType: alertType
              threshold: 0
              enabled: false
              contactChannel: contactChannel
              contactAddress: contactAddress
      responses:
        "201":
          description: Created The request succeeded, and a new resource was created as a result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      alertType:
                        type: string
                      threshold:
                        type: number
                      enabled:
                        type: boolean
                      contactChannel:
                        type: string
                      contactAddress:
                        type: string
              example:
                data:
                  alertType: LOW_BALANCE
                  threshold: 1
                  enabled: true
                  contactChannel: EMAIL
                  contactAddress: email@commify.com
        "400":
          description: Bad Request The server could not understand the request due to incorrect syntax or an incorrect/missing required property. You should not repeat the request without modifications.
        "401":
          description: Unauthorized Indicates that the request has failed due to missing or incorrect authentication information. You can repeat the request with a suitable authorization header.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: unauthenticatedError
                    errorMessage: Request for authenticated route '/v2/balance-alerts' was unauthenticated
  /contacts:
    post:
      operationId: contactsCreate
      summary: "Contacts: Create"
      tags:
        - contacts
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/contacts/v2-contacts-create
      description: |-
        This endpoint allows you to add a single contact in a single API call. This is the ideal tool for synchronising your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        The documentation in this section contains the core reference information you will need to create contacts via our API, including required headers, cURL sample & error codes.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountReference:
                  type: string
                contacts:
                  type: object
                  properties:
                    firstName:
                      type: string
                    lastName:
                      type: string
                    addressType:
                      type: object
                    addressValue:
                      type: string
                  required:
                    - firstName
                    - lastName
                firstName:
                  type: string
                lastName:
                  type: string
                quickName:
                  type: string
                addresses:
                  type: array
                  items:
                    type: object
                    properties:
                      addressType:
                        type: string
                      addressValue:
                        type: string
                      optOutStatus:
                        type: string
                contactMetadata:
                  type: array
                  items:
                    type: string
              required:
                - accountReference
            example:
              accountReference: SPNLxxxxxx
              firstName: firstName
              lastName: lastName
              quickName: quickName
              addresses:
                - addressType: addressType
                  addressValue: addressValue
                  optOutStatus: optOutStatus
              contactMetadata: []
      responses:
        "201":
          description: Created Success response with the following example body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contactId:
                        type: string
                        format: uuid
                      accountReference:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      quickName:
                        type: string
                      lastUpdatedBy:
                        type: string
                        format: uuid
                      createTimestamp:
                        type: string
                        format: date-time
                      lastUpdateTimestamp:
                        type: string
                        format: date-time
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            addressId:
                              type: string
                              format: uuid
                            addressType:
                              type: string
                            addressValue:
                              type: string
                            destinationCode:
                              type: string
                      contactMetadata:
                        type: object
                        properties:
                          team:
                            type: string
              example:
                data:
                  contactId: c129b89f-515a-43e1-b990-91fc2de3d566
                  accountReference: SPNL0000000
                  firstName: Team
                  lastName: Octopus
                  quickName: TOCT1
                  lastUpdatedBy: 907da4a7-bb93-4772-8af4-a95cc59e5a91
                  createTimestamp: "2024-11-25T13:28:17.087042Z"
                  lastUpdateTimestamp: "2024-11-25T13:28:17.087042Z"
                  addresses:
                    - addressId: 7ba907b4-ff85-4825-a413-d6b634b16536
                      addressType: MSISDN
                      addressValue: "+447711000022"
                      destinationCode: GB
                  contactMetadata:
                    team: octopus
        "400":
          description: |-
            Bad Request Indicates the server couldn't process the request due to one or more of the required fields being invalid or missing.

            Response example
        "401":
          description: |-
            Unauthorized The server couldn't process the request as the authorization header was missing or invalid.

            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/contacts' was unauthenticated
        "409":
          description: |-
            Conflict The server couldn't process the request as a record with matching contact data already exists.

            Response example
    delete:
      operationId: contactsDelete
      summary: "Contacts: Delete"
      tags:
        - contacts
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/contacts/v2-contacts-delete
      description: |-
        This endpoint allows you to delete a contact in a single API call. This is the perfect tool for maintaining your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        The documentation in this section contains the core reference information you will need to delete contacts via our API, including required headers, cURL sample & error codes.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: contactId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: |-
            OK Success response with empty body.

            Error codes
        "401":
          description: Unauthorized Indicates that the request has failed due to missing or incorrect authentication information. You can repeat the request with a suitable authorization header.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/contacts' was unauthenticated
  /contacts/bulk:
    post:
      operationId: contactsBulkCreate
      summary: "Contacts: Bulk create"
      tags:
        - contacts
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/contacts/v2-contacts-bulk-create
      description: |-
        This endpoint allows you to add a list of new contacts in bulk with a single API request. 

        Note: Existing contact records will not be updated when using this endpoint. To add and update existing records in the same call, please refer to the the Bulk update/create endpoint documentation.

        The documentation in this section contains the core reference information you will need to create contacts via our API, including required headers, cURL sample & error codes.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountReference:
                  type: string
                contacts:
                  type: array
                  items:
                    type: object
                    properties:
                      firstName:
                        type: string
                      lastName:
                        type: string
                      quickName:
                        type: string
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            addressType:
                              type: string
                            addressValue:
                              type: string
                            optOutStatus:
                              type: string
                      contactMetadata:
                        type: array
                        items:
                          type: string
                      groups:
                        type: array
                        items:
                          type: string
              required:
                - accountReference
            example:
              accountReference: SPNLxxxxxx
              contacts:
                - firstName: firstName
                  lastName: lastName
                  quickName: quickName
                  addresses:
                    - addressType: addressType
                      addressValue: addressValue
                      optOutStatus: optOutStatus
                  contactMetadata: []
                  groups:
                    - ""
      responses:
        "200":
          description: OK Success response with the following example body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accountReference:
                        type: string
                      contacts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            firstName:
                              type: string
                            lastName:
                              type: string
                            quickName:
                              type: string
                            addresses:
                              type: array
                              items:
                                type: object
                                properties:
                                  addressType:
                                    type: string
                                  addressValue:
                                    type: string
                            contactMetadata:
                              type: object
                              properties:
                                team:
                                  type: string
                            result:
                              type: string
                            reasons:
                              type: array
                              items:
                                type: string
              example:
                data:
                  accountReference: SPNL0000000
                  contacts:
                    - id: 5e89f37d-a101-4ac1-ba8e-736f18641432
                      firstName: Joe
                      lastName: Blogs
                      quickName: Blogs1
                      addresses:
                        - addressType: MSISDN
                          addressValue: "+447711000039"
                      contactMetadata:
                        team: octopus
                      result: success
                      reasons: []
                    - id: 6243c3b6-23b0-48a1-baf8-3bea83a473d7
                      firstName: Jon
                      lastName: Blogs
                      quickName: Blogs02
                      addresses:
                        - addressType: MSISDN
                          addressValue: "+447711000031"
                      contactMetadata:
                        team: octopus
                      result: success
                      reasons: []
        "400":
          description: |-
            Bad Request The server couldn't process the request due to one or more of the required fields being invalid or missing.

            Response example
        "401":
          description: |-
            Unauthorized The server couldn't process the request as the authentication was missing or invalid.

            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                message: Request for authenticated route '/v2/contacts/bulk' was unauthenticated
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/contacts/bulk' was unauthenticated
    patch:
      operationId: contactsBulkCreateOrUpdate
      summary: "Contacts: Bulk update/create"
      tags:
        - contacts
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/contacts/v2-contacts-bulk-create-or-update
      description: |-
        This endpoint allows you to add or edit a list of contacts in bulk with a single API call. This is the ideal tool for synchronizing your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        The documentation in this section contains the core reference information you will need to create contacts via our API, including required headers, cURL sample & error codes.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountReference:
                  type: string
                contactsId:
                  type: string
                  format: uuid
                contacts:
                  type: array
                  items:
                    type: object
                    properties:
                      firstName:
                        type: string
                      lastName:
                        type: string
                      quickName:
                        type: string
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            addressType:
                              type: string
                            addressValue:
                              type: string
                            optOutStatus:
                              type: string
                      contactMetadata:
                        type: array
                        items:
                          type: string
                      groups:
                        type: array
                        items:
                          type: string
              required:
                - accountReference
            example:
              accountReference: SPNLxxxxxx
              contacts:
                - firstName: firstName
                  lastName: lastName
                  quickName: quickName
                  addresses:
                    - addressType: addressType
                      addressValue: addressValue
                      optOutStatus: optOutStatus
                  contactMetadata: []
                  groups:
                    - ""
      responses:
        "200":
          description: OK Success response with the following example response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accountReference:
                        type: string
                      contacts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            firstName:
                              type: string
                            lastName:
                              type: string
                            quickName:
                              type: string
                            addresses:
                              type: array
                              items:
                                type: object
                                properties:
                                  addressType:
                                    type: string
                                  addressValue:
                                    type: string
                            contactMetadata:
                              type: object
                              properties:
                                team:
                                  type: string
                            result:
                              type: string
                            reasons:
                              type: array
                              items:
                                type: string
              example:
                data:
                  accountReference: SPNL0000000
                  contacts:
                    - id: 5e89f37d-a101-4ac1-ba8e-736f18641432
                      firstName: John
                      lastName: Mclane
                      quickName: Roy
                      addresses:
                        - addressType: MSISDN
                          addressValue: "+447711000039"
                      contactMetadata:
                        team: octopus
                      result: success
                      reasons: []
                    - id: 6243c3b6-23b0-48a1-baf8-3bea83a473d7
                      firstName: Lisa
                      lastName: Mclane
                      quickName: Mclisa
                      addresses:
                        - addressType: MSISDN
                          addressValue: "+447711000031"
                      contactMetadata:
                        team: octopus
                      result: success
                      reasons: []
        "400":
          description: |-
            Bad Request The server couldn't process your request as one or more of the required fields are missing or have an invalid value.

            Response example
        "401":
          description: |-
            Unauthorized The server couldn't process the request as the authenication header is missing or invalid.

            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                message: Request for authenticated route '/v2/contacts/bulk' was unauthenticated
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/contacts/bulk' was unauthenticated
  /contacts/filter:
    get:
      operationId: contactsGetAll
      summary: "Contacts: Get all"
      tags:
        - contacts
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/contacts/v2-contacts-get-all
      description: |-
        This endpoint allows you to retrieve a list of all the data for your contacts associated with your account in a single API call. The request can be filtered by optOutStatus, sortBy, sortOrder, search, destination and groupId as well as other properties listed below. This is the ideal tool for synchronizing your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        The documentation in this section contains the core reference information you will need to retrieve contacts via our API, including required headers, cURL sample & error codes.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: AccountReference
          in: header
          required: true
          description: Your Spryng account reference - e.g. SPNL0000000
          schema:
            type: string
        - name: optOutStatus
          in: query
          required: false
          description: "Filter contacts by the optOutStatus. Allowed values are: subscribed or unsubscribed"
          schema:
            type: string
        - name: sortBy
          in: query
          required: false
          description: "Sort contacts into grouped data. Available values: Name | createdAt"
          schema:
            type: string
        - name: sortOrder
          in: query
          required: false
          description: "Sets the sorting direction. Default= descending. Available values: Asc & Desc"
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: "Ability to search using the following: address | first name | last name | quick name. Searching will retrieve information from all parameters"
          schema:
            type: string
        - name: destination
          in: query
          required: false
          description: "Filter contacts by the destination. Value should be a valid ISO3166 country code. For example: GB | DE | IT | US"
          schema:
            type: string
        - name: groupId
          in: query
          required: false
          description: Filter contacts by a certain groupId only
          schema:
            type: string
        - name: contactOwnership
          in: query
          required: false
          description: "Specifies the ownership type of a contact to filter by. Possible values: Shared | Owned | All. Default value = All"
          schema:
            type: string
      responses:
        "200":
          description: OK Success response with the following example response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contacts:
                        type: array
                        items:
                          type: object
                          properties:
                            contactId:
                              type: string
                              format: uuid
                            accountReference:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            quickName:
                              type: string
                            lastUpdatedBy:
                              type: string
                            smsoptOutStatus:
                              type: string
                            createTimestamp:
                              type: string
                              format: date-time
                            lastUpdateTimestamp:
                              type: string
                              format: date-time
                            addresses:
                              type: array
                              items:
                                type: object
                                properties:
                                  addressId:
                                    type: string
                                    format: uuid
                                  addressType:
                                    type: string
                                  addressValue:
                                    type: string
                                  destinationCode:
                                    type: string
                                  optOutStatus:
                                    type: string
                            contactMetadata:
                              type: object
                              properties:
                                additionalProp1:
                                  type: string
                                additionalProp2:
                                  type: string
                                additionalProp3:
                                  type: string
                      totalCount:
                        type: integer
                      totalPages:
                        type: integer
                      currentPage:
                        type: integer
              example:
                data:
                  contacts:
                    - contactId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      accountReference: SPNL0000000
                      firstName: string
                      lastName: string
                      quickName: string
                      lastUpdatedBy: string
                      smsoptOutStatus: Subscribed
                      createTimestamp: "2025-05-26T12:37:30.770Z"
                      lastUpdateTimestamp: "2025-05-26T12:37:30.770Z"
                      addresses:
                        - addressId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                          addressType: string
                          addressValue: string
                          destinationCode: string
                          optOutStatus: Subscribed
                      contactMetadata:
                        additionalProp1: string
                        additionalProp2: string
                        additionalProp3: string
                  totalCount: 10
                  totalPages: 2
                  currentPage: 1
        "400":
          description: |-
            Bad Request The server couldn't process the request due to the accountReference missing from the header or is invalid.

            Response example
        "401":
          description: |-
            Unauthorized The server couldn't process the request as the authorization header is missin or invalid.

            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: unauthenticatedError
                    errorMessage: Request for authenticated route '/v2/contacts/filter' was unauthenticated
  /contacts/{contactId}:
    get:
      operationId: contactsGetById
      summary: "Contacts: Get"
      tags:
        - contacts
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/contacts/v2-contacts-get-by-id
      description: |-
        This endpoint allows you to retrieve data associated with a contact in a single API call. The request can be filtered by: Opt out status, date created, destination, groupId, first name, last name or quick name and other properties listed below. This is the ideal tool for synchronizing your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        The documentation in this section contains the core reference information you will need to retrieve contacts via our API, including required headers, cURL sample & error codes.

        Before you start your implementation, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: contactId
          in: path
          required: true
          schema:
            type: string
        - name: optOutStatus
          in: query
          required: false
          description: Filter contacts by the optOutStatus allowed values are subscribed or unsubscribed
          schema:
            type: string
        - name: sortBy
          in: query
          required: false
          description: "Sort contacts. Available values: Name | CreatedAt"
          schema:
            type: string
        - name: sortOrder
          in: query
          required: false
          description: "Sets the sorting direction. Default = descending. Available values: Asc & Desc"
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: "Ability to search using the following: address | first name | last name | quick name. Searching will retrieve information from all parameters"
          schema:
            type: string
        - name: destination
          in: query
          required: false
          description: "Filter contacts by the Destination. Value should be a valid ISO3166 country code. For example: GB | DE | IT | US"
          schema:
            type: string
        - name: groupId
          in: query
          required: false
          description: Filter contacts by a certain groupId only
          schema:
            type: string
      responses:
        "200":
          description: OK Success response with the following example body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contactId:
                        type: string
                        format: uuid
                      accountReference:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      quickName:
                        type: string
                      lastUpdatedBy:
                        type: string
                        format: uuid
                      smsoptOutStatus:
                        type: string
                      createTimestamp:
                        type: string
                        format: date-time
                      lastUpdateTimestamp:
                        type: string
                        format: date-time
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            addressId:
                              type: string
                              format: uuid
                            addressType:
                              type: string
                            addressValue:
                              type: string
                            destinationCode:
                              type: string
                      contactMetadata:
                        type: object
                        properties:
                          team:
                            type: string
              example:
                data:
                  contactId: c129b89f-515a-43e1-b990-91fc2de3d566
                  accountReference: SPNL0000000
                  firstName: Team
                  lastName: Octopus
                  quickName: TOCT1
                  lastUpdatedBy: 907da4a7-bb93-4772-8af4-a95cc59e5a91
                  smsoptOutStatus: Subscribed
                  createTimestamp: "2024-11-25T13:28:17.087042Z"
                  lastUpdateTimestamp: "2024-11-25T13:28:17.087042Z"
                  addresses:
                    - addressId: 7ba907b4-ff85-4825-a413-d6b634b16536
                      addressType: MSISDN
                      addressValue: "+447711000022"
                      destinationCode: GB
                  contactMetadata:
                    team: octopus
        "401":
          description: |-
            Unauthorized The server couldn't process the request due to an invalid or missing authentication header.

            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/contacts/65ff9fe8-428e-40b0-bcee-1e656db5fdb3' was unauthenticated
        "404":
          description: |-
            Not Found The server couldn't process the request as the contactId provided doesn't exist or has an invalid format.

            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: contact_not_found
                    errorMessage: Contact not found.
    put:
      operationId: contactsUpdate
      summary: "Contacts: Update"
      tags:
        - contacts
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/contacts/v2-contacts-update
      description: |-
        This endpoint allows you to edit an individual contact record in a single API call. This is the ideal tool for synchronizing your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        The documentation in this section contains the core reference information you will need to create contacts via our API, including required headers, cURL sample & error codes.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: contactId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountReference:
                  type: string
                contacts:
                  type: object
                  properties:
                    firstName:
                      type: string
                    lastName:
                      type: string
                    addressType:
                      type: object
                    addressValue:
                      type: string
                    quickName:
                      type: string
                    optOutStatus:
                      type: string
                    contactMetadata:
                      type: object
                    groups:
                      type: array
                      items:
                        type: string
                  required:
                    - firstName
                    - lastName
                firstName:
                  type: string
                lastName:
                  type: string
                quickName:
                  type: string
                addresses:
                  type: array
                  items:
                    type: object
                    properties:
                      addressType:
                        type: string
                      addressValue:
                        type: string
                      optOutStatus:
                        type: string
                contactMetadata:
                  type: array
                  items:
                    type: string
              required:
                - accountReference
            example:
              firstName: firstName
              lastName: lastName
              quickName: quickName
              addresses:
                - addressType: addressType
                  addressValue: addressValue
                  optOutStatus: optOutStatus
              contactMetadata: []
      responses:
        "200":
          description: OK Success response with the following example body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contactId:
                        type: string
                        format: uuid
                      accountReference:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      quickName:
                        type: string
                      lastUpdatedBy:
                        type: string
                        format: uuid
                      createTimestamp:
                        type: string
                        format: date-time
                      lastUpdateTimestamp:
                        type: string
                        format: date-time
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            addressId:
                              type: string
                              format: uuid
                            addressType:
                              type: string
                            addressValue:
                              type: string
                            destinationCode:
                              type: string
                      contactMetadata:
                        type: object
                        properties:
                          additionalprop1:
                            type: string
              example:
                data:
                  contactId: c129b89f-515a-43e1-b990-91fc2de3d566
                  accountReference: SPNL0000000
                  firstName: Bruce
                  lastName: Mclane
                  quickName: updated name
                  lastUpdatedBy: 907da4a7-bb93-4772-8af4-a95cc59e5a91
                  createTimestamp: "2024-11-25T13:28:17.087042Z"
                  lastUpdateTimestamp: "2024-11-25T14:25:00.8849008Z"
                  addresses:
                    - addressId: 7ba907b4-ff85-4825-a413-d6b634b16536
                      addressType: MSISDN
                      addressValue: "+447711000022"
                      destinationCode: GB
                  contactMetadata:
                    additionalprop1: string
        "400":
          description: |-
            Bad Request The server couldn't process the request as one or more of the required fields are missing or invalid.

            Response example
        "401":
          description: |-
            Unatuhorized The server couldn't process the request as the authorization header is missing or invalid.

            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/contacts/054679a6-c38e-497a-b8c9-2f6d9d45a3cf' was unauthenticated
        "404":
          description: |-
            Not Found The server couldn't process the request as the contactId provided doesn't exist or has an invalid format.

            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: contact_not_found
                    errorMessage: Contact not found.
  /groups:
    post:
      operationId: groupsCreate
      summary: "Groups: Create"
      tags:
        - groups
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/groups/v2-groups-create
      description: |-
        This endpoint allows you to create a new group. This is the ideal tool for synchronising your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountReference:
                  type: string
                name:
                  type: string
                description:
                  type: string
            example:
              accountReference: SPNLxxxxxx
              name: string
              description: string
      responses:
        "201":
          description: Created Indicates that the request has been completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      groupId:
                        type: string
                        format: uuid
                      accountReference:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      contactsCount:
                        type: integer
                      lastUpdatedBy:
                        type: string
                        format: uuid
                      createTimestamp:
                        type: string
                        format: date-time
                      lastUpdateTimestamp:
                        type: string
                        format: date-time
              example:
                data:
                  groupId: 4d27b28b-48ce-40d1-8500-0751986ca623
                  accountReference: SPNL0000000
                  name: Octopus
                  description: A group description for test purpose
                  contactsCount: 0
                  lastUpdatedBy: 907da4a7-bb93-4772-8af4-a95cc59e5a91
                  createTimestamp: "2024-11-26T08:36:54.5789775Z"
                  lastUpdateTimestamp: "2024-11-26T08:36:54.5789775Z"
        "400":
          description: Bad Request The server could not understand the request due to incorrect syntax or an incorrect/missing required property. You should not repeat the request without modifications.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: error code
                    errorMessage: error message
        "401":
          description: Unauthorized Indicates that the request has failed due to missing or incorrect authentication information. You can repeat the request with a suitable authorization header.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/groups' was unauthenticated
        "409":
          description: Conflict Indicates the request failed due to the group already existing, the request will need to have a unique address type.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: group_already_exists
                    errorMessage: A group with this name already exists.
    delete:
      operationId: groupsDelete
      summary: "Groups: Delete"
      tags:
        - groups
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/groups/v2-groups-delete
      description: |-
        This endpoint allows you to delete a single group in a single API call. Deleting a group does not delete the contacts within the group or delete any other groups which the contact may be associated to. This is the perfect tool for maintaining your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: |-
            OK Success response with empty body.

            Error codes
        "400":
          description: |-
            Bad Request The server was unable to process the request due to missing or invalid groupId provided.
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: group_ids_empty
                    errorMessage: At least one group id must be specified.
        "401":
          description: |-
            Unauthorized The server was unable to process the request due to a missing or invalid authentication value.
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                message: Request for authenticated route '/v2/groups' was unauthenticated
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/groups' was unauthenticated
    get:
      operationId: groupsGetAll
      summary: "Groups: Get all"
      tags:
        - groups
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/groups/v2-groups-get-all
      description: |-
        This endpoint allows you to retrieve a list of all groups associated with your account in a single API call. The request can be filtered by: Name, sortBy, sortOrder, groupOwnership, StartTime, EndTime as well as other properties listed below. This is the ideal tool for synchronizing your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: AccountReference
          in: header
          required: true
          description: Your Spryng account reference - e.g. SPNL0000000
          schema:
            type: string
        - name: groupId
          in: query
          required: false
          description: Filter by groupIds
          schema:
            type: string
            format: uuid
        - name: name
          in: query
          required: false
          description: Filter by the name of the group
          schema:
            type: string
        - name: groupOwnership
          in: query
          required: false
          description: "Specifies the ownership type of a group to filter by. Possible values: Shared | Owned | All. Default value = All"
          schema:
            type: string
        - name: sortBy
          in: query
          required: false
          description: "Sort groups. Available values: name | createdAt"
          schema:
            type: string
        - name: sortOrder
          in: query
          required: false
          description: "Sets the sorting direction. Default = descending. Available values: Asc & Desc"
          schema:
            type: string
      responses:
        "200":
          description: OK Success response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      groups:
                        type: array
                        items:
                          type: object
                          properties:
                            groupId:
                              type: string
                              format: uuid
                            accountReference:
                              type: string
                            name:
                              type: string
                            description:
                              type: string
                            contactsCount:
                              type: integer
                            lastUpdatedBy:
                              type: string
                              format: uuid
                            createTimestamp:
                              type: string
                              format: date-time
                            lastUpdateTimestamp:
                              type: string
                              format: date-time
                      totalCount:
                        type: integer
                      totalPages:
                        type: integer
                      currentPage:
                        type: integer
              example:
                data:
                  groups:
                    - groupId: 4d27b28b-48ce-40d1-8500-0751986ca623
                      accountReference: SPNL0000000
                      name: Octopus
                      description: A group description for test purpose
                      contactsCount: 0
                      lastUpdatedBy: 907da4a7-bb93-4772-8af4-a95cc59e5a91
                      createTimestamp: "2024-11-26T08:36:54.578977Z"
                      lastUpdateTimestamp: "2024-11-26T08:36:54.578977Z"
                    - groupId: 549ae49d-fd48-4663-8806-c46e2e4d58b2
                      accountReference: SPNL0000000
                      name: CDE
                      description: group created for test purpose
                      contactsCount: 1
                      lastUpdatedBy: 907da4a7-bb93-4772-8af4-a95cc59e5a91
                      createTimestamp: "2024-11-18T11:15:45.771482Z"
                      lastUpdateTimestamp: "2024-11-18T11:15:45.771482Z"
                  totalCount: 2
                  totalPages: 1
                  currentPage: 1
        "400":
          description: |-
            Bad Request The server could not process the request due to incorrect or missing required properties.
            Response example
        "401":
          description: |-
            Unauthorized The server couldn't process the request due to missing or incorrect authorization value.
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/groups' was unauthenticated
        "404":
          description: |-
            Not Found The server couldn't process the request due to missing or incorrect groupId.
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: group_not_found
                    errorMessage: There is no group with the specified Id.
  /groups/{groupId}:
    get:
      operationId: groupsGetById
      summary: "Groups: Get"
      tags:
        - groups
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/groups/v2-groups-get-by-id
      description: |-
        This endpoint allows you to retrieve all data associated to a single group. This is the ideal tool for synchronizing your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK Success response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      groupId:
                        type: string
                        format: uuid
                      accountReference:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      contactsCount:
                        type: integer
                      lastUpdatedBy:
                        type: string
                        format: uuid
                      createTimestamp:
                        type: string
                        format: date-time
                      lastUpdateTimestamp:
                        type: string
                        format: date-time
              example:
                data:
                  groupId: 4d27b28b-48ce-40d1-8500-0751986ca623
                  accountReference: SPNL0000000
                  name: Octopus
                  description: A group description for test purpose
                  contactsCount: 0
                  lastUpdatedBy: 907da4a7-bb93-4772-8af4-a95cc59e5a91
                  createTimestamp: "2024-11-26T08:36:54.578977Z"
                  lastUpdateTimestamp: "2024-11-26T08:36:54.578977Z"
        "401":
          description: |-
            Unauthorized The server could not process the request due to a missing or incorrect authorization header.
            Example response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/groups/4d27b28b-48ce-40i1-8500-0751986ca623' was unauthenticated
        "404":
          description: |-
            Not Found The server could not process the request due to an invalid or missing groupId.
            Example response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: group_not_found
                    errorMessage: There is no group with the specified Id.
    put:
      operationId: groupsUpdate
      summary: "Groups: Update"
      tags:
        - groups
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/groups/v2-groups-update
      description: |-
        This endpoint allows you to edit a group in a single API call. This is the ideal tool for synchronizing your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        The documentation in this section contains the core reference information you will need to manage contacts & groups via our API, including required headers, cURL sample & error codes.

        Before you start your implementation, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
            example:
              name: string
              description: string
      responses:
        "200":
          description: OK Success response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      groupId:
                        type: string
                        format: uuid
                      accountReference:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      contactsCount:
                        type: integer
                      lastUpdatedBy:
                        type: string
                        format: uuid
                      createTimestamp:
                        type: string
                        format: date-time
                      lastUpdateTimestamp:
                        type: string
                        format: date-time
              example:
                data:
                  groupId: 4d27b28b-48ce-40d1-8500-0751986ca623
                  accountReference: SPNL0000000
                  name: updated
                  description: updated
                  contactsCount: 0
                  lastUpdatedBy: 907da4a7-bb93-4772-8af4-a95cc59e5a91
                  createTimestamp: "2024-11-26T08:36:54.578977Z"
                  lastUpdateTimestamp: "2024-11-26T14:36:16.7394716Z"
        "400":
          description: |-
            Bad Request The server could not understand the request due to incorrect syntax or an incorrect/missing required property i.e. unable to find the requested groupName. You should not repeat the request without modifications.
            Response example
        "401":
          description: |-
            Unauthorized Indicates that the request has failed due to missing or incorrect authentication information. You can repeat the request with a suitable authorization header.

            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                message: Request for authenticated route '/v2/groups/4d27b28b-48ce-40d1-8500-0751986ca623' was unauthenticated
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/groups/4d27b28b-48ce-40d1-8500-0751986ca623' was unauthenticated
        "404":
          description: |-
            Not Found The groupId provided has an invalid format (wasn't provided as a GUID) or the server was unable to find the groupId requested.
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: group_not_found
                    errorMessage: There is no group with the specified Id.
  /groups/{groupId}/contacts:
    put:
      operationId: groupsAddContactsToGroup
      summary: "Groups: Add contacts"
      tags:
        - groups
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/groups/v2-groups-add-contacts-to-group
      description: |-
        This endpoint allows you to add one or more existing contacts to a group in a single API call. This is the ideal tool for synchronizing your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contactsId:
                  type: array
                  items:
                    type: string
                contactIds:
                  type: array
                  items:
                    type: string
              required:
                - contactsId
            example:
              contactIds:
                - ""
      responses:
        "200":
          description: OK Success response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      groupContacts:
                        type: array
                        items:
                          type: object
                          properties:
                            groupContactId:
                              type: string
                              format: uuid
                            groupId:
                              type: string
                              format: uuid
                            contactId:
                              type: string
                              format: uuid
                            lastUpdatedBy:
                              type: string
                              format: uuid
                            createTimestamp:
                              type: string
                              format: date-time
              example:
                data:
                  groupContacts:
                    - groupContactId: c92fd77e-9386-429d-a240-a1c3c380c0dd
                      groupId: cb960734-8a57-442d-983c-92526456d3ed
                      contactId: ad3db3a0-9989-4ebf-b64b-d12c2c2895d0
                      lastUpdatedBy: 907da4a7-bb93-4772-8af4-a95cc59e5a91
                      createTimestamp: "2024-11-26T14:56:36.7986345Z"
        "400":
          description: |-
            Bad Request The server was unable to process your request due to an invalid or missing required property, i.e. contactId was provided in an invalid format (not GUID).
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: errorCode
                    errorMessage: errorMessage
        "401":
          description: |-
            Unauthorized The authorization header is missing or invalid.
            Example response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                message: Request for authenticated route '/v2/groups/123/contacts' was unauthenticated
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/groups/123/contacts' was unauthenticated
        "404":
          description: |-
            Not Found The server was unable to process your request due to an invalud or missing groupId.
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: group_not_found
                    errorMessage: There is no group with the specified Id.
    delete:
      operationId: groupsDeleteContactsFromGroup
      summary: "Groups: Remove contacts"
      tags:
        - groups
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/groups/v2-groups-delete-contacts-from-group
      description: |-
        This endpoint allows you to remove one or more contacts from a single group. Removing contacts from a group does not delete the contact record or the group. A group can still exist with no associated contacts. To delete a group, please refer to the Delete documentation within the Group category. This is the perfect tool for maintaining your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: contactId
          in: query
          required: false
          description: One or more contacts to be deleted from a single group. contactIds must be provided as a GUID within the path. If more than one contact is being removed provide contactIds as an array
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: |-
            OK Success response with empty body.

            Error codes
        "400":
          description: |-
            Bad Request The server was unable to process the request due to missing or invalid contactId provided.
            Response example
        "401":
          description: |-
            Unauthorized The authorization header is missing or invalid.
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                message: Request for authenticated route '/v2/groups/cb960734-8a57-442d-983c-92526456d3ed/contacts' was unauthenticated
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/groups/cb960734-8a57-442d-983c-92526456d3ed/contacts' was unauthenticated
        "404":
          description: |-
            Not Found The server could not process the request due to missing or invalid groupId.
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: group_not_found
                    errorMessage: There is no group with the specified Id.
    get:
      operationId: groupsGetContactsFromGroup
      summary: "Groups: Get contacts from Group"
      tags:
        - groups
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/groups/v2-groups-get-contacts-from-group
      description: |-
        This endpoint allows you to retrieve a list of all contacts within a group associated with your account in a single API call. The request can be filtered by: groupId, accountReference, destination, metadataKey, Search, pageSize, pageNo, sortOrder and sortBy. This is the ideal tool for synchronizing your contact list from another system, such as a CRM, an e-commerce platform, or a customer database, ensuring your contacts are always up-to-date.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: AccountReference
          in: header
          required: true
          description: Your Spryng account reference - e.g. SPNL0000000
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: "Ability to search using the following: address | first name | last name | quick name. Searching will retrieve information from all parameters"
          schema:
            type: string
        - name: destination
          in: query
          required: false
          description: "Filter contacts by the destination. Value should be a valid ISO3166 country code. For example: GB | DE | IT | US"
          schema:
            type: string
        - name: contactOwnership
          in: query
          required: false
          description: "Specifies the ownership type of a contact to filter by. Possible values: Shared | Owned | All. Default value = All"
          schema:
            type: string
        - name: sortBy
          in: query
          required: false
          description: "Sort contacts. Available values: name"
          schema:
            type: string
        - name: sortOrder
          in: query
          required: false
          description: "Sets the sorting direction. Default = descending. Available values: Asc & Desc"
          schema:
            type: string
        - name: optOutStatus
          in: query
          required: false
          description: Filter contacts by the optOutStatus. Allowed values are subscribed or unsubscribed
          schema:
            type: string
      responses:
        "200":
          description: OK Success response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contacts:
                        type: array
                        items:
                          type: object
                          properties:
                            contactId:
                              type: string
                              format: uuid
                            accountReference:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            quickName:
                              type: string
                            lastUpdatedBy:
                              type: string
                            smsoptOutStatus:
                              type: string
                            contactOwnership:
                              type: string
                            createTimestamp:
                              type: string
                              format: date-time
                            lastUpdateTimestamp:
                              type: string
                              format: date-time
                            addresses:
                              type: array
                              items:
                                type: object
                                properties:
                                  addressId:
                                    type: string
                                    format: uuid
                                  addressType:
                                    type: string
                                  addressValue:
                                    type: string
                                  destinationCode:
                                    type: string
                                  optOutStatus:
                                    type: string
                            contactMetadata:
                              type: array
                              items:
                                type: string
                      filterOptions:
                        type: object
                        properties:
                          accountReference:
                            type: string
                      totalCount:
                        type: integer
                      totalPages:
                        type: integer
                      currentPage:
                        type: integer
              example:
                data:
                  contacts:
                    - contactId: 8d0267b6-9163-41c2-a8d0-b9164a103a75
                      accountReference: SPNL0000000
                      firstName: John
                      lastName: Mclane
                      quickName: Roy
                      lastUpdatedBy: Octopus
                      smsoptOutStatus: Subscribed
                      contactOwnership: Shared
                      createTimestamp: "2025-09-26T06:48:53.205527Z"
                      lastUpdateTimestamp: "2025-09-26T06:48:55.244424Z"
                      addresses:
                        - addressId: d158859a-c377-4ec5-b4b0-2ceffbe0f704
                          addressType: MSISDN
                          addressValue: "+447703787198"
                          destinationCode: GB
                          optOutStatus: Subscribed
                      contactMetadata: []
                  filterOptions:
                    accountReference: "{accountReference}"
                  totalCount: 1
                  totalPages: 1
                  currentPage: 1
        "400":
          description: |-
            Bad Request The server could not process the request due to incorrect or missing required properties.
            Response example
        "401":
          description: |-
            Unauthorized The server couldn't process the request due to missing or incorrect authorization value.
            Response example
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                title: An error occurred while processing the request
                status: 401
                errors: []
                internalErrors:
                  - message: Pipeline
                    metadata:
                      unauthenticatedError: Request for authenticated route '/v2/groups' was unauthenticated
  /inbox:
    get:
      operationId: messagesGetInbox
      summary: "Messaging: Inbox"
      tags:
        - messaging
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/messaging/v2-messages-get-inbox
      description: |-
        This endpoint retrieves all inbound message data associated with your account. This can be filtered based on channel, message type, status, userId and more. 

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites in our Introduction documentation.
      parameters:
        - name: AcccountReference
          in: header
          required: true
          description: Your Spryng account reference - e.g. SPNL0000000
          schema:
            type: string
        - name: accountReference
          in: query
          required: false
          description: The list of account references provided as an array
          schema:
            type: array
            items:
              type: string
        - name: requestId
          in: query
          required: false
          description: Will filter to requestIds provided for the request
          schema:
            type: string
            format: uuid
        - name: conversationId
          in: query
          required: false
          description: Will show all inbound and outbound messages belonging to a conversation. A conversation is unique by account-recipient and will contain all messages to and from a recipient in an account
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Status of the requested message(s). Enum e.g. Delivered | Received | Failed | In Progress
          schema:
            type: string
            enum:
              - Delivered
              - Received
              - Failed
              - In Progress
        - name: reason
          in: query
          required: false
          description: Failure reason provided as an enum e.g. Delivered | DestinationNotAllowed | LandlineNotAllowed | MessageExpired | MessagePartCountExceeded | MsisdnInvalid | NetworkFailed | OptedOut | OutsideBusinessHours | senderIdInvalid | SendingLimitExceeded | WithinQuietHours
          schema:
            type: string
            enum:
              - Delivered
              - DestinationNotAllowed
              - LandlineNotAllowed
              - MessageExpired
              - MessagePartCountExceeded
              - MsisdnInvalid
              - NetworkFailed
              - OptedOut
              - OutsideBusinessHours
              - senderIdInvalid
              - SendingLimitExceeded
              - WithinQuietHours
        - name: msisdn
          in: query
          required: false
          description: The phone number that received the outbound message or the phone number that sent the inbound message. Must use international format e.g. 447xxxxxxxxx. This lets you filter for all messages from and to an MSISDN
          schema:
            type: string
        - name: destinationCode
          in: query
          required: false
          description: Nullable. 2-letter ISO3166 destination code for the destination of the message e.g. Destination sent to or destination received from
          schema:
            type: string
        - name: originator
          in: query
          required: false
          description: The "from" value for outbound messages or the "to" value for inbound messages. This lets you filter for all messages from and to an originator such as a VMN or Shortcode or senderId
          schema:
            type: string
        - name: requestName
          in: query
          required: false
          description: Nullable. Optional name of the request
          schema:
            type: string
        - name: channel
          in: query
          required: false
          description: Channel the message was sent via. Enum e.g.SMS
          schema:
            type: string
        - name: messageType
          in: query
          required: false
          description: Enum e.g. Unknown | MarketingAndResearch | NotificationsAndReminders | AuthenticationAndSecurity | PaymentsAndCollections
          schema:
            type: string
            enum:
              - Unknown
              - MarketingAndResearch
              - NotificationsAndReminders
              - AuthenticationAndSecurity
              - PaymentsAndCollections
        - name: source
          in: query
          required: false
          description: Which product area provided the message
          schema:
            type: string
        - name: startTime
          in: query
          required: false
          description: Filter messages where submittedAt is greater than or equal to startTime
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          required: false
          description: Filter messages where submittedAt is less than or equal to endTime
          schema:
            type: string
            format: date-time
        - name: pageSize
          in: query
          required: false
          description: Pagination required for the response. Allow 1-1000. Default = 1
          schema:
            type: integer
        - name: pageNo
          in: query
          required: false
          description: Number of pages for the response. Allow 1+. Default = 1
          schema:
            type: integer
        - name: sortOrder
          in: query
          required: false
          description: Defines sorting order for the results. Enum e.g. Asc | Desc. Default = Desc
          schema:
            type: string
            enum:
              - Asc
              - Desc
        - name: sortBy
          in: query
          required: false
          description: Defines sorting requirements for the results Enum e.g. Status | submittedAt | lastupdateTimestamp | channel | messageType | source | requestName. Default = submittedAt
          schema:
            type: string
            enum:
              - Status
              - submittedAt
              - lastupdateTimestamp
              - channel
              - messageType
              - source
              - requestName
        - name: retrieveMessageBody
          in: query
          required: false
          description: Provide if message body is required within the response. Default = TRUE
          schema:
            type: boolean
        - name: direction
          in: query
          required: false
          description: Enum e.g. Outbound/ Inbound
          schema:
            type: string
        - name: includeDelete
          in: query
          required: false
          description: Default = FALSE. If 'TRUE' then the response will include messages which were marked as deleted. These soft-deleted messages will have all their PII removed and only exist for billing reconciliation purposes
          schema:
            type: boolean
      responses:
        "200":
          description: OK Indicates that the request has succeeded.
        "401":
          description: Unauthorized Indicates that the request has failed due to missing or incorrect authentication information. You can repeat the request with a suitable authorization header field.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: unauthenticatedError
                    errorMessage: Request for authenticated route '/v2/inbox' was unauthenticated
  /messages:
    post:
      operationId: messagesCreate
      summary: "Messaging: Send"
      tags:
        - messaging
      externalDocs:
        description: Portal page
        url: https://developer.spryng.nl/messaging/v2-messages-create
      description: |-
        This endpoint enables you to take your customers on a seamless messaging journey, foster a deeper connection with your brand, and gain valuable customer insights along the way. Whether you're sending to one recipient or multiple, you can do it all in a single request.

        The documentation in this section contains the core reference information you will need to send an outbound message via our API, including required headers, code examples & error codes.

        Before you start using this endpoint, please check you have your Account, API Key and Base URL set up and have familiarised yourself with our implementation prerequisites in our Introduction documentation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountReference:
                  type: string
                channel:
                  type: string
                body:
                  type: object
                  properties:
                    text:
                      type: string
                    templateId:
                      type: string
                      format: uuid
                    shortenUrlBrand:
                      type: string
                    attachment:
                      type: object
                      properties:
                        attachmentUrl:
                          type: string
                        fileName:
                          type: string
                        description:
                          type: string
                from:
                  type: string
                recipients:
                  type: array
                  items:
                    type: object
                    properties:
                      msisdn:
                        type: string
                      variables:
                        type: array
                        items:
                          type: string
                      metaData:
                        type: array
                        items:
                          type: string
                addressBook:
                  type: object
                  properties:
                    contacts:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                    groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                name:
                  type: string
                characterSet:
                  type: string
                  enum:
                    - Auto
                    - GSM
                    - Unicode
                validity:
                  type: string
                  format: date-time
                messageType:
                  type: string
                  enum:
                    - MarketingAndResearch
                    - NotificationsAndReminders
                    - AuthenticationAndSecurity
                    - PaymentsAndCollections
                    - InternalOperations
                    - CustomerSupport
                    - Conversational
                metaData:
                  type: array
                  items:
                    type: string
              required:
                - accountReference
                - channel
                - body
            example:
              accountReference: SPNLxxxxxx
              name: name
              characterSet: characterSet
              channel: channel
              from: from
              validity: validity
              messageType: messageType
              body:
                text: text
                templateId: templateId
                shortenUrlBrand: shortenUrlBrand
                attachment:
                  attachmentUrl: attachmentUrl
                  fileName: fileName
                  description: description
              recipients:
                - msisdn: msisdn
                  variables: []
                  metaData: []
              addressBook:
                contacts:
                  - id: id
                groups:
                  - id: id
              metaData: []
      responses:
        "202":
          description: Accepted Indicates that the request has been received but not completed yet.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      requestId:
                        type: string
                        format: uuid
                      messageIds:
                        type: array
                        items:
                          type: string
                          format: uuid
              example:
                data:
                  requestId: 8dcad127-bb9c-48fe-9827-db2fe57d53fb
                  messageIds:
                    - 0929df71-d1ea-4b02-87b2-9789b332a92e
        "400":
          description: Bad Request The server could not understand the request due to incorrect syntax or an incorrect/missing required property. You should not repeat the request without modifications.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - errorCode: string
                    errorMessage: string
        "401":
[...]
